.about-page {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  background-image: url("/public/grove5.jpg");
  font-family: "Arial", sans-serif;
}

.image-box {
  position: fixed;
  bottom: 0%;
  right: 10%;
  overflow: hidden;
  cursor: pointer;
}

.cycling-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.sign-container {
  position: absolute;
  top: 40%;
  left: 30%;
  perspective: 1000px;
  position: fixed;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sign-container.clicked {
  top: 50%;
  left: 50%;
}

.sign {
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(20deg);
  transition: transform 0.5s ease-in-out;
}

.sign.clicked {
  transform: rotateY(-1deg);
}

.sign-container .sign {
  width: var(--sign-width);
  height: var(--sign-height);
}

.face {
  position: absolute;
  background-color: rgb(172, 140, 77);
}

.back {
  width: var(--sign-width);
  height: var(--sign-height);
  transform: rotateY(180deg) translateZ(calc(var(--sign-depth) / 2));
}

.left {
  width: var(--sign-depth);
  height: var(--sign-height);
  transform: rotateY(-90deg) translateZ(calc(var(--sign-depth) / 2 - 0.6px));
}

.right {
  width: var(--sign-depth);
  height: var(--sign-height);
  transform: rotateY(90deg)
    translateZ(calc(var(--sign-width) - var(--sign-depth) / 2));
}

.top {
  width: var(--sign-width);
  height: var(--sign-depth);
  transform: rotateX(90deg) translateZ(calc(var(--sign-depth) / 2));
}

.bottom {
  width: var(--sign-width);
  height: var(--sign-depth);
  transform: rotateX(-90deg)
    translateZ(calc(var(--sign-height) - var(--sign-depth) / 2));
}

.inset {
  background-color: rgb(153, 124, 66);
}

.inset-top {
  width: calc(var(--sign-width) - 2 * var(--inset-offset));
  height: var(--sign-depth);
  transform: rotateX(90deg)
    translateZ(calc(var(--sign-depth) / 2 - var(--inset-offset)))
    translateX(var(--inset-offset));
}

.inset-bottom {
  width: calc(var(--sign-width) - 2 * var(--inset-offset));
  height: var(--sign-depth);
  transform: rotateX(-90deg)
    translateZ(
      calc(var(--sign-height) - var(--sign-depth) / 2 - var(--inset-offset))
    )
    translateX(var(--inset-offset));
}

.inset-left {
  width: var(--sign-depth);
  height: calc(var(--sign-height) - 2 * var(--inset-offset));
  transform: rotateY(-90deg)
    translateZ(calc(var(--sign-depth) / 2 - var(--inset-offset)))
    translateY(var(--inset-offset));
}

.inset-right {
  width: var(--sign-depth);
  height: calc(var(--sign-height) - 2 * var(--inset-offset));
  transform: rotateY(90deg)
    translateZ(
      calc(var(--sign-width) - var(--sign-depth) / 2 - var(--inset-offset))
    )
    translateY(var(--inset-offset));
}

.inset-back {
  width: calc(var(--sign-width) - 2 * var(--inset-offset));
  height: calc(var(--sign-height) - 2 * var(--inset-offset));
  background-color: rgb(243, 227, 198);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateZ(calc((var(--sign-depth) / 2) - var(--inset-depth) * 2))
    translateX(var(--inset-offset)) translateY(var(--inset-offset));
}

.frame-top {
  width: var(--sign-width);
  height: var(--inset-offset);
  transform: translateZ(calc(var(--sign-depth) / 2));
}

.frame-bottom {
  width: var(--sign-width);
  height: var(--inset-offset);
  transform: translateZ(calc(var(--sign-depth) / 2))
    translateY(calc(var(--sign-height) - var(--inset-depth)));
}

.frame-left {
  width: var(--inset-offset);
  height: var(--sign-height);
  transform: translateZ(calc(var(--sign-depth) / 2));
}

.frame-right {
  width: var(--inset-offset);
  height: var(--sign-height);
  transform: translateZ(calc(var(--sign-depth) / 2))
    translateX(calc(var(--sign-width) - var(--inset-depth)));
}

.sign-content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.sign-title {
  text-align: center;
  font-size: 2.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.sign-body {
  text-align: left;
  font-size: 0.4em;
  line-height: 1.4;
  filter: blur(2px);
  transition: filter 0.3s ease;
}

.sign-body.clicked {
  filter: none;
}
