.projects-page {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background-color: #c3feca;
}

.background-map {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  object-fit: contain;

  image-rendering: auto;
  image-rendering: smooth;
  -ms-interpolation-mode: bicubic;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.map-key {
  position: absolute;
  bottom: 60px;
  left: 20px;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  font-size: 14px;
  transform-origin: bottom left;
}

.map-key-title {
  margin: 0 0 20px 10px;
  font-size: 18px;
}

.key-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 12px 8px;
}

@media (max-width: 1150px) {
  .map-key {
    font-size: 10px;
  }
}

.key-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.project-key {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #2a5da2;
  cursor: pointer;
  text-decoration: underline;
}

.area-key {
  position: absolute;
  top: 110px;
  right: 10px;
  background-color: white;
  padding: 12px;
  padding-bottom: 4px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  font-size: 10px;
  transform-origin: top right;
}

@media (max-width: 1300px) {
  .area-key {
    font-size: 8px;
  }
}

.toggle-area-key {
  position: absolute;
  top: 110px;
  right: 10px;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-area-key:hover {
  background-color: #45a047;
}

@media (max-width: 1170px) {
  .area-key {
    display: none;
    top: 160px;
    font-size: 10px;
  }
  .toggle-area-key {
    display: block;
  }
}

.area-key.open {
  display: block;
}

.area-columns {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.area-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.area-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-title {
  font-weight: bold;
  margin-bottom: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.area-title.tundra {
  background-color: #9fc4df;
}
.area-title.aquariam {
  background-color: #2c7db6;
}
.area-title.desert {
  background-color: #ff9e4b;
}
.area-title.sahara {
  background-color: #c7c046;
}
.area-title.rainforest {
  background-color: #531fdd;
}
.area-title.farm {
  background-color: #d9455a;
}
.area-title.wetlands {
  background-color: #00dada;
}
.area-title.jungle {
  background-color: #2c7923;
}
.area-title.outback {
  background-color: #ff73ff;
}
.area-title.forest {
  background-color: #6db576;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-content {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  position: relative;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.technologies {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-pill {
  padding: 6px 12px;
  background-color: #e0f2f1;
  color: #004d40;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1px;
}

.popup-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-btn {
  background-color: #6d6d6d;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-btn:hover {
  background-color: #575757;
}
